<a href="https://colab.research.google.com/github/mharish12/google-colab/blob/main/Q4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
install.packages("readxl")
install.packages("dplyr")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [28]:
library(readxl)
library(dplyr)

excel_file <- "cw_r.xlsx"

sheet_names <- excel_sheets(excel_file)

# sheet_names

# Read data from Excel file into a dataframe
df_list <- list()

# Loop through each sheet and read data into a dataframe
for (sheet in sheet_names) {
  df_name <- make.names(sheet)  # Use sheet names as valid dataframe names
  # print(df_name)
  df_list[[df_name]] <- read_excel(excel_file, sheet = sheet)
}

# df_list["Table.5"]
sheet_data <- df_list[["Table.5"]]
r <- nrow(sheet_data)
r
c <- ncol(sheet_data)
c
new_sheet_data = sheet_data[9:r,2:c]
# new_sheet_data

area_names = new_sheet_data[1,]
area_names

sheet_data_filtered <- sheet_data[11:r,3:c] %>%
  filter(is.numeric(Value))

sheet_data_filtered
# head(sheet_data)

New names:
• `` -> `...2`
New names:
• `` -> `...2`
• `` -> `...3`
• `` -> `...4`
• `` -> `...5`
• `` -> `...6`
• `` -> `...7`
• `` -> `...8`
New names:
• `` -> `...2`
• `` -> `...3`
• `` -> `...4`
• `` -> `...5`
• `` -> `...6`
• `` -> `...7`
• `` -> `...8`
New names:
• `` -> `...2`
• `` -> `...3`
• `` -> `...4`
• `` -> `...5`
• `` -> `...6`
• `` -> `...7`
• `` -> `...8`
• `` -> `...9`
• `` -> `...10`
• `` -> `...11`
• `` -> `...12`
New names:
• `` -> `...2`
• `` -> `...3`
• `` -> `...4`
• `` -> `...5`
New names:
• `` -> `...2`
• `` -> `...3`
• `` -> `...4`
• `` -> `...5`
• `` -> `...6`
• `` -> `...7`
• `` -> `...8`
• `` -> `...9`
• `` -> `...10`
New names:
• `` -> `...2`
• `` -> `...3`
• `` -> `...4`
• `` -> `...5`
• `` -> `...6`
• `` -> `...7`
• `` -> `...8`
• `` -> `...9`
• `` -> `...10`

[1] 65

[1] 5

   ...2                        ...3               ...4
1  Area Name                   Number of offences Rate per 1,000 population
2  ENGLAND AND WALES [note 13] 383644             6.4240752351769075
3  ENGLAND                     316108             5.5898714164057388
4  North East                  10718              3.998115461903943
5  Cleveland                   2258               3.9630165260246271
6  Durham                      2606               4.06837238564923
7  Northumbria                 5854               3.9811104673146342
8  North West                  36433              4.9451262416769097
9  Cheshire                    6019               5.62709531938604
10 Cumbria                     2157               4.3158903599776703
11 Greater Manchester          14335              5.0328513358560194
12 Lancashire                  7195               4.7476487756081047
13 Merseyside                  6727               4.6902366104795794
14 Yorkshire and The Humber    27320              4.9435884444524865
15 Humberside                  4835               5.174227531171109
16 North Yorkshire             4167               5.0106899528872493
17 South Yorkshire             6260               4.4238594428198494
18 West Yorkshire              12058              5.1414890192240863
19 East Midlands               27244              5.5993290012728183
20 Derbyshire                  4928               4.6315920063684395
21 Leicestershire              5944               5.3665728599842719
22 Lincolnshire                4464               5.8251438995841234
23 Northamptonshire            4507               5.9523416461849941
24 Nottinghamshire             7401               6.3230739656976871
25 West Midlands               30761              5.1595716755432681
26 Staffordshire               5577               4.8929894349329786
27 Warwickshire                3097               5.3050261568451456
28 West Mercia                 6474               4.9860523004077262
29 West Midlands               15613              5.3106760814129066
30 East                        35786              5.7082598452966833
31 Bedfordshire                4345               6.3680638301302483
32 Cambridgeshire              5112               5.9453612923484869
33 Essex                       10113              5.4486297070735201
34 Hertfordshire               7963               6.6598532038886917
35 Norfolk                     4629               5.0643353292364992
36 Suffolk                     3624               4.7606161477367364
37 London [note 14]            71203              7.9092579740178506
38 City of London              20591              [u1]
39 Metropolitan Police         50612              5.6288404112750303
40 South East                  53723              5.828518546445177
41 Hampshire                   10167              5.0858751036734153
42 Kent                        11363              6.082328488560373
43 Surrey                      7781               6.4848691941627008
44 Sussex                      9886               5.7536120123965135
45 Thames Valley               14526              5.9730951661351899
46 South West                  22920              4.0500832016437824
47 Avon and Somerset           2048               1.1841819199474519
48 Devon and Cornwall          8155               4.5678648606563161
49 Dorset                      5133               6.6080486109323102
50 Gloucestershire             3298               5.1478966674471245
51 Wiltshire                   4286               5.8958581802624934
52 WALES                       16598              5.2366460477803729
53 Dyfed-Powys                 4391               8.3998247725007591
54 Gwent                       2697               4.508570798102288
55 North Wales                 3380               4.8054981723467751
56 South Wales                 6130               4.5566654426358193
57 Unknown [note 15]           50938              [z]
   ...5
1  % change from\r\n previous year
2  -10.465846264431523
3  -17.471307580646844
4  -19.078897697244244
5  -15.71481896229937
6  -22.092675635276539
7  -18.930895997784237
8  -14.842343921651125
9  -15.177564825253665
10 -17.765916889058332
11 -14.910666587523004
12 -13.019825918762084
13 -15.330396475770925
14 -14.662335228337597
15 -7.1263926238955051
16 -22.51766455931573
17 -14.620840152755044
18 -14.470137608171374
19 -11.599987020993542
20 -19.51657684141761
21 -8.3423284502698536
22 -16.231938449990611
23 -13.824091778202675
24 -3.2801881860951343
25 -16.223650525627754
26 -19.197334106056218
27 -22.690963554667999
28 -18.566037735849061
29 -12.581187010078388
30 -14.544976956324474
31 -11.272207473963647
32 -13.968360821272297
33 -16.902218570254725
34 -12.561765674755687
35 -14.230127848804896
36 -16.956920256645279
37 -18.388235563808088
38 [u]
39 -33.399128867132497
40 -15.015423554536111
41 -13.868180277871911
42 -13.385166552328688
43 -14.522684829177191
44 -17.917635337097316
45 -15.275590551181107
46 -34.721312409216488
47 -80.615238996687182
48 -18.253809141940657
49 -6.1780296106744625
50 -23.123543123543122
51 -10.87544187980869
52 -12.830208497452865
53 -5.7927483372666844
54 -12.349691257718554
55 -15.096709369505145
56 -16.279704998634248
57 [z]

  ...2      ...3               ...4
1 Area Name Number of offences Rate per 1,000 population
  ...5
1 % change from\r\n previous year

ERROR: ignored

In [29]:
df <- data.frame(
  ID = c(1, 2, 3, 4),
  Value = c(5.2, 8.1, "not_long", 12.7)
)

df

  ID Value
1 1  5.2
2 2  8.1
3 3  not_long
4 4  12.7